<!DOCTYPE html>
<html>
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="873025078204-1j935j1p5c6m3h6oobe4pdlvbggni2f3.apps.googleusercontent.com">
    <meta charset="utf-8">
    <title>Google STEP App</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="static/js/main.js"></script>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>
